{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6 " style="border: 1px solid #fff; border-radius: 0.5rem;">
                <div class="card shadow border-0" >
                    <div class="card-header bg-dark text-light text-center">
                        <h1 class="h4 mb-0">Modifier les paramètres du compte</h1>
                    </div>
                    <div class="card-body p-4 text-light" style="background-color: #1c191f;">
                        {{ form_errors(form) }}

                        {{ form_start(form) }}
                            <div class="mb-3">
                                {{ form_label(form.name, null, {'label_attr': {'class': 'form-label fw-semibold'}}) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}, 'value': connectedUserName}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.firstname, null, {'label_attr': {'class': 'form-label fw-semibold'}}) }}
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}, 'value': connectedUserFirstname}) }}
                                {{ form_errors(form.firstname) }}
                            </div>
                            <button type="submit" class="btn btn-dark w-100 py-2 mt-2 text-light">Modifier mon compte</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}